<h2 class="text-center">Sign up</h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>

    <%= f.label :email %><br />
    <%= f.email_field :email, class: 'form-control' %>

  <%= f.label :house_number %>
  <%= f.text_field :add1, class: 'form-control' %>

  <%= f.label :street %>
  <%= f.text_field :street, class: 'form-control' %>

  <%= f.label :town %>
  <%= f.text_field :town, class: 'form-control' %>

  <%= f.label :country %>
  <%= f.text_field :country, class: 'form-control' %>

  <%= f.label :postcode %>
  <%= f.text_field :postcode, class: 'form-control' %>

  <%= f.label :user_image %>
	<%= f.attachment_field :user_image, class: 'btn btn-success' %>
	<%= f.check_box :remove_user_image %>
	<%= f.label :remove_user_image %>
	<% unless @user.errors[:user_image].empty? %>
      <div class="error_message">
       <%= "Image #{@user.errors[:user_image].first}" %>
      </div>
    <% end %>
  <% unless @user.errors[:user_image_size].empty? %>
      <div class="error_message">
       <%= "Image #{@user.errors[:user_image_size].first}" %>
      </div>
    <% end %>
    <br>

    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>

    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
    <br>
    <%= f.submit "Sign up", class: "btn btn-primary" %>
<% end %>
</div>
</div>
